body {
    font-family: Arial, sans-serif;
    background-color: #ffc1d5;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    margin: 0;
}

.container {
    background-color: #fa8fb1;
    padding: 20px;
    border-radius: 5px;
    width: 100%;
    max-width: 400px;
}

form h2 {
    margin-top: 0;
    margin-bottom: 15px;
    text-align: center;
    color: #333;
}

.form-group {
    margin-bottom: 15px;
}

.form-group label {
    display: block;
    margin-bottom: 5px;
    color: #333;
}

.form-group input,
.form-group textarea {
    width: 100%;
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 3px;
    box-sizing: border-box;
}

.form-group textarea {
    resize: vertical;
}

button {
    width: 100%;
    padding: 10px;
    border: none;
    background-color: #f74780;
    color: #fff;
    font-size: 16px;
    cursor: pointer;
    border-radius: 3px;
}

