body {
    font-family: Arial, sans-serif;
    background-color: #ffc1d5;
    display: flex;
    justify-content: center;
    align-items: flex-start;
    height: 100vh;
    margin: 0;
    padding-top: 20px;
}

.container {
    background-color: #fa8fb1;
    padding: 20px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    border-radius: 5px;
    width: 100%;
    max-width: 600px;
}

form h2 {
    margin-top: 0;
    margin-bottom: 15px;
    text-align: center;
    color: #333;
}

.form-group {
    margin-bottom: 15px;
}

.form-group label {
    display: block;
    margin-bottom: 5px;
    color: #333;
}

.form-group textarea {
    width: 100%;
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 3px;
    box-sizing: border-box;
    resize: vertical;
}

button {
    width: 100%;
    padding: 10px;
    border: none;
    background-color: #f74780;
    color: #fff;
    font-size: 16px;
    cursor: pointer;
    border-radius: 3px;
}
#commentList {
    list-style-type: none;
    padding: 0;
}

#commentList li {
    background-color: #ffe4ec;
    padding: 10px;
    border: 1px solid #ddd;
    border-radius: 3px;
    margin-bottom: 10px;
}
