body {
    font-family: Arial, sans-serif;
    background-color: #ffc1d5;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    margin: 0;
}

.carrossel {
    position: relative;
    max-width: 800px;
    width: 100%;
    overflow: hidden;
    border-radius: 10px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
}

.slides {
    display: flex;
    transition: transform 0.5s ease-in-out;
}

.slide {
    min-width: 100%;
    box-sizing: border-box;
}

.slide img {
    width: 100%;
    border-radius: 10px;
}

.anterior, .proximo {
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    background-color:#f74780;
    color: #fff;
    border: none;
    padding: 10px;
    cursor: pointer;
    border-radius: 50%;
}

.anterior {
    left: 10px;
}

.proximo {
    right: 10px;
}
